In [1]:
%matplotlib inline
# Dependencies
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Crystal Beach,CA,2021-04-07 20:16:11,42.8699,-79.0583,72.00,54,98,10.36
1,1,Parainen,FI,2021-04-07 20:16:11,60.3067,22.3010,33.01,93,75,2.30
2,2,Ushuaia,AR,2021-04-07 20:11:32,-54.8000,-68.3000,50.00,87,75,1.81
3,3,Les Cayes,HT,2021-04-07 20:16:11,18.2000,-73.7500,80.58,72,100,2.59
4,4,Mataura,NZ,2021-04-07 20:12:22,-46.1927,168.8643,45.00,96,59,2.71
...,...,...,...,...,...,...,...,...,...,...
566,566,Casablanca,MA,2021-04-07 20:15:01,33.5928,-7.6192,62.60,82,20,11.50
567,567,Fare,PF,2021-04-07 20:17:53,-16.7000,-151.0167,81.12,63,85,11.32
568,568,Kankan,GN,2021-04-07 20:17:53,10.3854,-9.3057,86.86,38,100,4.43
569,569,Paamiut,GL,2021-04-07 20:13:40,61.9940,-49.6678,31.75,79,100,9.48
570,570,Izazi,TZ,2021-04-07 20:17:53,-7.2000,35.7333,69.60,80,8,3.15

In [3]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     571 non-null    int64
 1   City        571 non-null    object
 2   Country     566 non-null    object
 3   Date        571 non-null    object
 4   Lat         571 non-null    float64
 5   Lng         571 non-null    float64
 6   Max Temp    571 non-null    float64
 7   Humidity    571 non-null    int64
 8   Cloudiness  571 non-null    int64
 9   Wind Speed  571 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 44.7+ KB

In [4]:
# configure gmaps to sue your google api key
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloud
locations = city_data_df[["Lat", "Lng"]]
cloud = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloud, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Les Cayes,HT,2021-04-07 20:16:11,18.2000,-73.7500,80.58,72,100,2.59
5,5,Jamestown,US,2021-04-07 20:12:31,42.0970,-79.2353,75.00,46,1,5.75
13,13,Hithadhoo,MV,2021-04-07 20:12:42,-0.6000,73.0833,82.33,68,48,10.22
18,18,Chuy,UY,2021-04-07 20:12:51,-33.6971,-53.4616,75.70,70,7,14.63
19,19,Sinnamary,GF,2021-04-07 20:16:13,5.3833,-52.9500,76.87,89,100,5.93
24,24,Rikitea,PF,2021-04-07 20:12:25,-23.1203,-134.9692,76.73,61,1,7.65
26,26,Houma,US,2021-04-07 20:14:12,29.5958,-90.7195,80.01,73,75,20.71
28,28,Atuona,PF,2021-04-07 20:12:43,-9.8000,-139.0333,80.82,72,13,15.39
31,31,Butaritari,KI,2021-04-07 20:12:22,3.0707,172.7902,80.82,79,19,11.95
37,37,Carnarvon,AU,2021-04-07 20:12:47,-24.8667,113.6333,75.20,73,69,19.57

In [26]:
preferred_cities_df.count()

City_ID       197
City          197
Country       196
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [45]:
# Create DataFrame called hotel_df to store hotel names along with city, country
hotel_df = preferred_cities_df[['City', 'Country','Max Temp', 'Lat','Lng']].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3    Les Cayes      HT     80.58  18.2000  -73.7500
5    Jamestown      US     75.00  42.0970  -79.2353
13   Hithadhoo      MV     82.33  -0.6000   73.0833
18        Chuy      UY     75.70 -33.6971  -53.4616
19   Sinnamary      GF     76.87   5.3833  -52.9500
24     Rikitea      PF     76.73 -23.1203 -134.9692
26       Houma      US     80.01  29.5958  -90.7195
28      Atuona      PF     80.82  -9.8000 -139.0333
31  Butaritari      KI     80.82   3.0707  172.7902
37   Carnarvon      AU     75.20 -24.8667  113.6333

In [46]:
 # Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [47]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [48]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [50]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))